*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
}
.hero{
    height:100vh;
    width: 100%;
    background: url(artur-tumasjan-KZSNMN4VxR8-unsplash.jpg);
    background-size: cover;
    background-position:center ;
    position: relative;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 6%;
    padding-left: 6%;
}
.logo{
    color:#f2aa4ffc;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Aboreto', cursive;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
}
nav ul a{
    color: #f2aa4ffc;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav ul li:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #f5f5f5;
    margin: auto;
    transition: .4s;
}
nav ul li:hover:after{
    width: 100%;
}


.container{

    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 30px;
    background:#252525;
    opacity: 0.9;
   
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
}
.container h2{
    font-size: 50px;
    color:#f2aa4ffc;
    line-height: 52px;
    margin-bottom: 18px;
    letter-spacing: 5px;
    font-family: 'Aboreto', cursive;
    

    
}
.container p{
    font-size: 20px;
    color: #f5f5f5;
    line-height: 28px;
    margin-bottom: 30px;
    font-family: 'Aboreto', cursive;
    
 
}
.container .airplane{
    position: absolute;
    top: 48%;
    left: 82%;
    
}
button{
    color:#f2aa4cff;
    font-weight: bold;
    transition: 1s;
    background: #000000;
    border: none;
    width:100% ;
    padding: 8px 38px;
    border-radius: 10px;
    outline: none;
    color: darkgray;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
 button:hover{
    background: #f2aa4cff;
    color: whitesmoke;
    box-shadow: 0 0 5px #f2aa4cff, 0 0 25px #f2aa4cff,
  0 0 50px #f2aa4cff,0 0 100px #f2aa4cff;
 }
 .main-text{
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translateY(-50%);

    
 }

 .main-text h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
     text-align:left;
     background:linear-gradient(to left top,#f2aa4ffc,#252525);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: gradientAnim 7.5s ease alternate infinite;
     background-size: 50% auto;

 }
 
 @keyframes gradientAnim{
    to{
        background-position: 100% top;
    }
}


.social{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    
}
.social ul li{
    list-style:none ;
    text-align: center;
    margin: 15px 0px;

}
.social ul li a{
    color: #f2aa4ffc;
    display: block;
    font-size: 30px;
}
.social ul li a:hover{
    transform: scale(1.2) translateY(-10%);
    transition: .4s;
    cursor: pointer;
}